.container{
	overflow-x:hidden;
	background: url("../images/mountain.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat:no-repeat;
}
.wrapper{
	margin-top: 40px;
	text-align: center;
}
h1{color: white;}
.imgContainer{}
.imgContainer img{margin: 0px auto; width: 40%;}
.formulaire{background-color: #262d37; padding: 30px; color: #fc7148;}
form input{background: #262d37;
border: none !important;
color: white;
padding: 5px;
margin: 15px;
width: 70%;}
*:focus {
    outline: 0;
}
.spacer{border-bottom: 1px #fc7148 solid;
width: 80%;
margin: 0 auto;}
.buttonoffi{background: #fc7148;
padding: 10px;}
.formulaire a{color: #fc7148;
text-decoration: none;}
.lineForm{width: 80%; margin: 0px auto;}
.email_error,.password_error,.confirmation_error,.lname_error,.fname_error{position: absolute;
margin-top: -44px;
margin-left: 500px;
width: 230px;
background-color: #FC7148;
color: white;
padding: 4px;
opacity: 0;
overflow: hidden;
-webkit-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
-ms-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
transition: all 0.5s ease;}
.slideLeft{
opacity: 1;
margin-left: 150px;}