<div class="">
	<div class="header" ng-controller="UserCtrl" style="background-color: black;">
		<span>img</span>
		<span>CubbyHole</span>
		<input type="text" placeholder="Search" name="search"/>
		<span>{{getEmail()}}</span>
	</div>
	<div class="content row">
		<div class="sideMenu col-md-3" style="background-color: #41465A; height: 600px;">
			
		</div>
		<div class="content col-md-9 row" ng-controller="FoldersCtrl" style="background-color: white; height: 600px;">
			<div class="button_list">
				<button ng-click="create()" name="create">New Folder</button>
				<button name="move">Move</button>
				<button ng-click="delete()" name="delete">Delete</button>
				<button name="copie">Copie</button>
				<button ng-click="rename()" name="rename">Rename</button>
				<button name="download">Download</button>				
			</div>
			<table>
				<thead>
					<tr>
						<th><input type="checkbox" name="all_selected" value="0"></th>
						<th>Name</th>
						<th>Size</th>
						<th>Date</th>
					</tr>
				</thead>
				<tbody id="list">
				</tbody>
			</table>
		</div>
	</div>
</div>