<div class="wrapper col-md-4 col-md-offset-4" ng-controller="UserCtrl">
	<div class="imgContainer"><img src="images/logo.png"></div>
	<h1>CubbyHole - Login</h1>
	<div class="formulaire">
		<form name="loginForm" ng-submit="login()" novalidate>
			<div class="lineForm">
				<span class="glyphicon glyphicon-user"></span>
				<input type="text" ng-model="email" name="email" placeholder="your@email.com" required /><br>
				<span class="email_error"></span>
			</div>
			<div class="spacer"></div>
			<div class="lineForm">
				<span class="glyphicon glyphicon-lock"></span>
				<input type="password" ng-model="password" name="password" placeholder="Password" required /><br>
				<span class="password_error"></span>
			</div>
			<div class="spacer"></div>
			<input class="buttonoffi" type="submit" value="Connection" />
		</form>
		<a href="#reset">Reset password</a><br>
		<a href="#register">Create account</a><br>
	</div>
</div>