<div class="wrapper col-md-4 col-md-offset-4" ng-controller="UserCtrl">
	<div class="imgContainer"><img src="images/logov2.png"></div>
	<h1>CubbyHole - Register</h1>
	<div class="formulaire">
		<form id="register" name="register" ng-submit="checkForm()" novalidate>
			<div class="lineForm">
			<span class="glyphicon glyphicon-user"></span>
			<input type="text" name="lname" ng-model="lname" placeholder="Last name" ng-minlength=3 /><br>
			<span class="lname_error"></span>
			</div>
			<div class="spacer">
			</div>
			<div class="lineForm">
			<span class="glyphicon glyphicon-user"></span>
			<input type="text" name="fname" ng-model="fname" placeholder="First name" ng-minlength=3 /><br>
			<span class="fname_error"></span>
			</div>
			<div class="spacer">
			</div>
			<div class="lineForm">
			<span class="glyphicon glyphicon-envelope"></span>
			<input type="text" name="email" ng-model="email" placeholder="Email" required /><br>
			<span class="email_error"></span>
			</div>
			<div class="spacer">
			</div>
			<div class="lineForm">
			<span class="glyphicon glyphicon-lock"></span>
			<input type="password" name="password" ng-model="password" placeholder="Password" required ng-minlength=6 /><br>
			<span class="password_error"></span>
			</div>
			<div class="spacer">
			</div>
			<div class="lineForm">
			<span class="glyphicon glyphicon-lock"></span>
			<input type="password" name="confirmation" ng-model="confirmation" placeholder="Confirmation" required ng-minlength=6 /><br>
			<span class="confirmation_error"></span>
			</div>
			<div class="spacer">
			</div>
			<input class="buttonoffi" type="submit" value="Create" />
		</form>
		<a href="#login">Already a CubbyHole user ?</a>
	</div>
</div>