<div class="row">
	<div class="wrapper col-md-4 col-md-offset-4" ng-controller="UserCtrl">
		<div class="imgContainer"><img src="images/logo.png"></div>
		<h1>CubbyHole - Reset</h1>
		<div class="formulaire">
			<form name="loginForm" ng-submit="reset()" novalidate>
				<div class="lineForm"><span class="glyphicon glyphicon-user"></span><input type="text" ng-model="email" name="email" placeholder="your@email.com" required /></div>
				<div class="spacer"></div>
				<input class="buttonoffi" type="submit" value="Reset" />
			</form>
		</div>
	</div>
</div>